<%= turbo_stream_from question %>
<div id="<%= dom_id question %>">
  <p>
    <strong>Body:</strong>
    <%= question.body %>
  </p>

  <p>
    <strong>Answer 1:</strong>
    <%= question.answer_1 %>
  </p>

  <p>
    <strong>Answer 2:</strong>
    <%= question.answer_2 %>
  </p>

  <p>
    <strong>Answer 3:</strong>
    <%= question.answer_3 %>
  </p>

  <p>
    <strong>Answer 4:</strong>
    <%= question.answer_4 %>
  </p>

  <p>
    <strong>Correct answer:</strong>
    <%= question.correct_answer %>
  </p>

</div>
