<div class="text-center basis-1/3 flex flex-col justify-center">
  <h1 class="text-accent text-3xl font-['Kavoon']">Monster Trivia</h1>

  <p class="pb-5">Let's get started, shall we?</p>
</div>

<%= form_with model: @game, class: 'flex flex-col basis-2/3 justify-bottom' do |form| %>
  <%= form.label :number_of_questions, "How many questions per round?" %>
  <%= form.number_field :number_of_questions, class: form_input_class, min: 1, max: 50 %>
  <%= form.label :category, "What category?" %>
  <%= form.select :category, options=TRIVIA_CATEGORIES, {}, class: form_input_class %>
  <%= form.label :difficulty, "What difficulty?" %>
  <%= form.select :difficulty, options=DIFFICULTY_CHOICES, {}, class: form_input_class %>
  <%= form.submit "Start", class: submit_button_class %>
<% end %>
