<div class="flex flex-col grow justify-center text-center">
  <p class="text-4xl text-accent font-bold pb-10">
    You got <%= game.percentage_correct %>% right!
  </p>
  <p class="text-2xl pb-10">
    That's <%= game.score %> / <%= game.number_of_questions %> questions this round
  </p>
  <div class="flex flex-col justify-center">
    <%= tw_button_to "Play Another Round",
      new_round_game_path(game),
      method: :post,
      form_class: "flex flex-col"
    %>
    <%= tw_link_button_to "Go Back Home",
      root_path,
      method: :get,
      form_class: "flex flex-col"
    %>
  </div>
</div>
