<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Monster Trivia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RYEKGBD2V6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RYEKGBD2V6');
    </script>
  </head>

  <body class="dark:text-amber-200 text-amber-900 h-full overflow-y-scroll flex bg-stone-50 dark:bg-gray-800">
    <div class="container mx-auto flex flex-col max-w-screen-md grow">
      <% if !content_for? :hide_header %>
        <h1 class="sticky top-0 dark:bg-gray-800 bg-stone-50 p-5 w-full text-accent text-3xl font-['Kavoon']">
          <%= link_to 'Monster Trivia', root_path %>
        </h1>
      <% end %>
      <main class="mx-auto py-5 px-5 w-full grow flex flex-col">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
