<!DOCTYPE html>
<html>
  <head>
    <title>TriviaApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="text-amber-200 h-screen bg-gray-800">
    <main class="sm:container mx-auto py-5 px-5 h-full flex flex-col justify-center">
      <%= yield %>
    </main>
  </body>
</html>
